<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/popup/popup.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout/_Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    @{
        var imageUrlClaim = User.FindFirst("ImageUrl")?.Value ?? Url.Content("~/Image/avatar-1.png");
    }
    <div class="menu-container">
        <div class="menu">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="dropdown-section">
                    <div class="dropdown-header" onclick="toggleDropdown()">
                        <img style="border-radius:50%; border:2px solid white;" src="@imageUrlClaim" alt="Entry Icon" />
                        <span class="menu-text">@User.Identity.Name</span>
                        <span class="arrow">&#9660;</span>
                    </div>
                    <div class="dropdown-content" id="dropdownContent">
                        <a class="btn-click" href="@Url.Action("EditView", "Profile")">
                            <span class="menu-text">Редактировать</span>
                        </a>
                        <a class="btn-click" href="@Url.Action("Logout", "Profile")">
                            <span class="menu-text">Выйти</span>
                        </a>
                    </div>
                </div>
            }
            else
            {
                <a class="btn-click" href="@Url.Action("AuthView", "Profile")">
                    <img src="~/Image/icon-entry.png" alt="Entry Icon" />
                    <span class="menu-text">Вход</span>
                </a>
            }
            <a class="btn-click" href="@Url.Action("List", "Course")">
                <img src="~/Image/icon-home.png" alt="Home Icon" />
                <span class="menu-text">Главная</span>
            </a>
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn-click" href="@Url.Action("AddCourseView", "Course")">
                    <img src="~/Image/icon-plus.png" alt="Home Icon" />
                    <span class="menu-text">Создать курс</span>
                </a>
            }
        </div>
    </div>

    @RenderBody()

    <div id="popup"></div>
    <script src="~/js/popup/popup.js"></script>
    <script>
        @if (TempData["Message"] != null)
        {
            <text>
                    setTimeout(function() {
                        showPopup('@Html.Raw(TempData["Message"])', '@TempData["MessageType"]');
                                }, 1000);
            </text>
        }
    </script>

    <footer>
        <div class="cont"></div>
    </footer>

    <script src="~/js/menu.js"></script>
</body>
</html>
