<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Layout/_Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    @{
        var imageUrlClaim = User.FindFirst("ImageUrl")?.Value ?? Url.Content("~/Image/avatar-1.png");
    }
    <div class="menu__container">
        <div class="menu">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn__click" href="@Url.Action("EditView","Profile")"><img style="border-radius:50%" src="@imageUrlClaim" alt="Entry Icon" /><span class="menu__text">@User.Identity.Name</span></a>
            }
            else
            {
                <a class="btn__click" href="@Url.Action("AuthView","Profile")"><img src="~/Image/icon-entry.png" alt="Entry Icon" /><span class="menu__text">Вход</span></a>
            }
            <a class="btn__click" href="@Url.Action("List","Course")"><img src="~/Image/icon-home.png" alt="Home Icon" /><span class="menu__text">Главная</span></a>
            @* <a class="btn-click menu-icon" href="#"><img src="~/Image/icon-menu.png" alt="Menu Icon" /></a>                 *@
        </div>        
    </div>

    @RenderBody()

    <footer>
        <div class="cont">
            
        </div>
    </footer>

    <script src="~/js/menu.js"></script>
</body>
</html>
