@model LessonListDto
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Список уроков</title>
    <link rel="stylesheet" href="~/css/Lesson/ListControl.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <div class="cont">
        <div class="form-lesson">
            <h1 class="title">Список уроков</h1>
            <form asp-controller="lesson" method="get">
                <div class="search-cont">
                    <input type="text" id="lessonSearchInput" class="search-lesson" placeholder="Поиск по названию" onkeyup="filterLessons()" />
                </div>
            </form>
            @if (Model == null || Model.Lessons == null || !Model.Lessons.Any())
            {
                <h2 class="lesson-title">Список пуст</h2>
            }
            else
            {
                <div id="lessonList">
                    @foreach (var item in Model.Lessons)
                    {                   
                        <div class="lesson-list">
                            <div class="lesson-item">                                
                                <video controls="controls" class="lesson-video-list">
                                    <source src="@Url.Content(item.ContentUrl)" type="video/mp4" />
                                </video>
                                <div class="lesson-info">
                                    <h2 class="lesson-title">Название урока: @item.Title</h2>
                                    <p class="lesson-description">Описание урока: @item.Description</p>
                                    <form method="post">
                                        <input type="hidden" name="lessonId" asp-for="@item.Id" />
                                        <div class="button-container">
                                            <input asp-action="EditLessonView" asp-controller="Lesson" type="submit" class="lesson-button" value="Редактировать">
                                            <input asp-action="DeleteLesson" type="submit" class="lesson-button" value="Удалить">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            <div id="lesson-List" data-course-id="@Model.CourseId"></div>
            <button class="lesson-add" type="submit" onclick="addNewLessonForm()"><img src="~/Image/icon-plus.png" alt="+" /></button>

        </div>
    </div>
    <script src="~/js/Lesson/ListControl.js"></script>
</body>
</html>
