@model IEnumerable<Course>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Список курсов</title>
    <link rel="stylesheet" href="~/css/Course/ListControl.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <div class="cont">
        <div class="form-course">
            <h1 class="title">Список курсов</h1>

            <form asp-controller="Course" method="get">
                <div class="search-cont">
                    <input type="text" id="courseSearchInput" class="search-course" placeholder="Поиск по названию, цене или дате" onkeyup="filterCourses()" />
                    <input asp-action="AddCourseView" type="submit" class="add-course-button" value="Добавить курс" />
                </div>
            </form>

            @if (Model == null || !Model.Any())
            {
                <h2 class="course-title">Список пуст</h2>
            }
            else
            {
                <div id="courseList">
                    @foreach (var item in Model)
                    {
                        <div class="course-list">
                            <div class="course-item">
                                <form asp-controller="Course" method="post">
                                    <input asp-for=@item.Id type="hidden" name="courseId" />
                                    <input asp-action="DeleteCourse" type="submit" class="delete-course-button" value="🗑">
                                </form>
                                <img src="@Url.Content(item.PreviewUrl)" alt="Course Image" class="course-image">
                                <div class="course-info">
                                    <h2 class="course-title">Название курса: @item.Title</h2>
                                    <p class="course-description">Описание курса: @item.Description</p>
                                    <p class="course-description">Цена: @item.Price₽</p>
                                    <p class="course-dates">
                                        Дата создания: @item.DateCreate<br>
                                        Последнее обновление: @item.DateUpdata
                                    </p>
                                    <span id="course-status" class="course-status " data-status="@item.StatusModeration.Title">Статус: @item.StatusModeration.Title</span>
                                    <form method="post">
                                        <input type="hidden" name="courseId" asp-for="@item.Id" />
                                        <div class="button-container">
                                            <input asp-action="EditCourseView" asp-controller="Course" type="submit" class="edit-course-button" value="Редактировать курс">
                                            <input asp-action="ListLessonView" asp-controller="Lesson" type="submit" class="add-lesson-button" value="Список уроков">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <script src="~/js/Course/ListControl.js"></script>
</body>
</html>
